# Polymarket Builder Credentials
POLY_BUILDER_API_KEY=
POLY_BUILDER_SECRET=
POLY_BUILDER_PASSPHRASE=
POLY_BUILDER_KEY_ID=019b99f0-0f93-7753-8dc3-d913cf44dcd4

# Polymarket API
CLOB_API_URL=https://clob.polymarket.com
GAMMA_API_URL=https://gamma-api.polymarket.com
RELAYER_URL=https://relayer-v2.polymarket.com

# Chain
CHAIN_ID=137
PRIVATE_KEY=

# Privy
PRIVY_APP_ID=cmkhyc6vd026fjv0d5q4xmkqm
PRIVY_APP_SECRET=privy_app_secret_5tuJR5ANeHqUjie1YwWKvJCmKsHD5qosRvbD6ZbBR5EmcUmpLUJUn3q8muPTjqRqa1tGrGPLYe6NGPiST9D5zBYi

# Flask
FLASK_SECRET_KEY=change-me-in-production
FLASK_ENV=development
