# Polymarket Builder Credentials
POLY_BUILDER_API_KEY=019c516f-83b9-7846-b394-fda29ae21f49
POLY_BUILDER_SECRET=5Y9QyNdGSQoCNN1UL6Fc1H6zPUvw1Ng-AuppYFXhlLI=
POLY_BUILDER_PASSPHRASE=f613b7f2a777583064e648f73750aa9f3a5628d609f27ddc2cfb22030db0b4db
POLY_BUILDER_KEY_ID=019c516f-83b9-7846-b394-fda29ae21f49

# Polymarket API
CLOB_API_URL=https://clob.polymarket.com
GAMMA_API_URL=https://gamma-api.polymarket.com
RELAYER_URL=https://relayer-v2.polymarket.com

# Chain
CHAIN_ID=137
PRIVATE_KEY=

# Privy
PRIVY_APP_ID=cmkhyc6vd026fjv0d5q4xmkqm
PRIVY_APP_SECRET=privy_app_secret_5tuJR5ANeHqUjie1YwWKvJCmKsHD5qosRvbD6ZbBR5EmcUmpLUJUn3q8muPTjqRqa1tGrGPLYe6NGPiST9D5zBYi

# Flask
FLASK_SECRET_KEY=change-me-in-production
FLASK_ENV=development
